Value POLICY (\S+)
Value CLASSIFIER (\S+)
Value BEHAVIOR (\S+)

Start
  ^\s+Policy:\s${POLICY} -> ParseClassifier

ParseClassifier
  ^\s+Classifier:\s${CLASSIFIER}
  ^\s+Behavior:\s${BEHAVIOR} -> Record
  ^\s+Policy:\s${POLICY} -> ParseClassifier
